# Tom Regan <thomas.c.regan@gmail.com>
# 2011-07-28
# Git ignore file for the project

# logs #
########
logs/*
testing/logs/*.log
*.log
.*

# compiled python files #
#########################
*.pyc

# swap files #
##############
*.swp

# cruft #
#########
.cli_history
patch/
